.about-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between; /* Added to space elements */
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
}

.avatar-container {
  flex: 1;
  min-width: 200px;
  max-width: 300px;
  margin-left: auto; 
  margin-right: 0;
  margin-bottom: 20px;
}

.avatar {
  width: 100%;
  height: auto;
  border-radius: 2%;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.bio-container {
  flex: 2;
  min-width: 300px;
}

h1 {
  @include fluid-type($min-vw, $max-vw, $h1-min, $h1-max);
}

.about-name {
  @include fluid-type($min-vw, $max-vw, 36px, 48px);
}

@media (max-width: 768px) {
  .about-container {
    flex-direction: column;
  }

  .avatar-container {
    order: 2;
    margin-right: 0;
    margin-top: 20px;
    max-width: 200px;
  }

  .bio-container {
    order: 1;
  }
}

@media (max-width: 480px) {
  .avatar-container {
    min-width: 150px;
  }

  .bio-container {
    min-width: 100%;
  }
}
