.project-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  
  @media (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }
  
  @media (max-width: 480px) {
    grid-template-columns: 1fr;
  }
}

.project-item {
  border: 2px solid #ddd;
  display: flex;
  flex-direction: column;
  height: 100%;
  
  a {
    display: flex;
    flex-direction: column;
    height: 100%;
    text-decoration: none;
    color: inherit;
  }

  .project-header {
    height: 100px; // Fixed height for header
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    position: relative; // For absolute positioning of overlay
  }

  .header-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    overflow-y: auto; 
    
    // Hide scrollbar for webkit browsers
    &::-webkit-scrollbar {
      display: none;
    }
    
    // Hide scrollbar for IE, Edge, and Firefox
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .project-image {
    width: calc(100% - 20px);
    height: 200px;
    margin: 0 10px;
    overflow: hidden;
    flex-shrink: 0;
    border: 2px solid #ddd;
    
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  
  .project-footer {
    flex-grow: 1;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
  }
  
  .project-title {
    margin: 0;
    font-size: 1.2em;
    line-height: 1.2;
    text-align: center;
  }
  
  .project-subtitle {
    margin: 5px 0 0;
    font-size: .95em;
    color: #33385ab7;
    text-align: center;
  }
  
  .project-description {
    font-size: 0.9em;
    margin: 10px 0 0;
  }
}