---
layout: default
---

<header class="page-header">
    <h1 id="entry-title" class="entry-title" style="text-align: center;">{{ page.title }}</h1>
    <h3 id="entry-title" class="entry-title" style="text-align: center; color: #666">* {{ page.subtitle }} *</h3>
</header>
<br>
<br>
<br>
<div class="entry-content" style="text-align: center;">
  {{ content }}
</div>
<main>
  <div id="my_gallery" class="gallery">
    {% assign project_images = site.static_files | where_exp: "file", "file.path contains '/assets/images/projects/'" %}
    {% for image in project_images %}
      {% if image.path contains page.name %}
        <div class="gallery-item">
          <a href="{{ image.path | relative_url }}" data-lightbox="gallery" data-title="{{ image.name }}">
            <img src="{{ image.path | relative_url }}" alt="{{ image.name }}">
          </a>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</main>
<!-- <script src="{{ '/assets/js/gallery.js' | relative_url }}"></script> -->
